md/
.python-version
__pycache__/                           
*.pyc                                  
.DS_Store                              
.ipynb_checkpoints/   
c_sim.py
legacy_code_backup.py
c_testing_parameters.txt
data/
pilot_data/