md/
.python-version
__pycache__/                           
*.pyc                                  
.DS_Store                              
.ipynb_checkpoints/   
data/
heuristics.py
.gitignore
imgs_for_readme/